[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/leystof/Desktop/pyrogram]
row=4
col=1

[/home/leystof/Desktop/tgClient]
row=1
col=1

[/home/leystof/Desktop/sticker bot]
row=5
col=1

[/home/leystof/Desktop/auto-bot]
row=0
col=1

[/home/leystof/Desktop/wealth24]
row=7
col=0

[/home/leystof/Desktop/accTg]
row=2
col=1

[/home/leystof/Desktop/wi-fi.desktop]
row=5
col=0

[/home/leystof/Desktop/stickerIdBot]
row=3
col=1

[/home/leystof/Desktop/Как передавать файлы между Android и Linux - ZaLinux.ru_files]
row=4
col=2

[/home/leystof/Desktop/webscrap]
row=4
col=0

[/home/leystof/Desktop/bot]
row=6
col=1

[/home/leystof/Desktop/motormoney]
row=6
col=0

[/home/leystof/Desktop/scam]
row=0
col=2

[/home/leystof/Desktop/midoriya_bot]
row=7
col=1

[040000F90000F388]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/leystof]
row=3
col=0

