[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/leystof/Desktop/idea.txt]
row=7
col=0

[/home/leystof/Desktop/webpack.dev.js]
row=5
col=2

[/home/leystof/Desktop/tr]
row=5
col=1

[/home/leystof/Desktop/klaviatura]
row=6
col=1

[/home/leystof/Desktop/yarn]
row=2
col=2

[/home/leystof/Desktop/org.manjaro.pamac.manager.desktop]
row=6
col=2

[/home/leystof/Desktop/vim test]
row=3
col=2

[/home/leystof/Desktop/wi-fi.desktop]
row=5
col=0

[/home/leystof/Desktop/shadowsocks-qt5.desktop]
row=2
col=1

[/home/leystof/Desktop/telegramdesktop.desktop]
row=4
col=1

[/home/leystof/Desktop/Как передавать файлы между Android и Linux - ZaLinux.ru_files]
row=4
col=2

[/home/leystof/Desktop/webpack.prod.js]
row=7
col=1

[/home/leystof/Desktop/141815_arhitektura_zakat_cifrovoe_iskusstvo_oblako_illustracia_3840x2160.jpg]
row=3
col=1

[/home/leystof/Desktop/tok.7z]
row=6
col=0

[/home/leystof/Desktop/sublime_text.desktop]
row=4
col=0

[/home/leystof/Desktop/666]
row=0
col=2

[/home/leystof/Desktop/key]
row=1
col=1

[/home/leystof/Desktop/Как передавать файлы между Android и Linux - ZaLinux.ru.html]
row=0
col=1

[/home/leystof/Desktop/6565656]
row=1
col=2

[0bce8460-375e-4b08-b285-88e202d488ee]
row=0
col=0

[home]
row=1
col=0

[/]
row=2
col=0

[/home/leystof]
row=3
col=0

